body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity:0.9;
    text-align:center;
}

nav{
    height: 69px;
    border-bottom: 1px solid seashell;
    display:flex;
    justify-content:space-between;
}

nav ul{
    position:relative;
}

nav li{
    display: inline;
    text-decoration:underline;
    position:relative;
    padding:10px;
}

nav img{
    height:50px;
    position:relative;
    left:10px;
}

#mission {
    display: flex;
    height: 700px;
    background-image: url("../img/img-mission-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

#mission div{
    background-color:black;
    width: 100%;
}

#products img{
    height: 200px;
    width: 300px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figcaption{
    margin-top:5%;
}